/* Font Faces */
@font-face {
  font-family: Vi_BD;
  src: url(./fonts/VI-BOLD.TTF);
}

@font-face {
  font-family: Vi_HV;
  src: url(./fonts/VI-HEAVY.TTF);
}

@font-face {
  font-family: Vi_LT;
  src: url(./fonts/VI-LIGHT.TTF);
}

@font-face {
  font-family: Vi_MD;
  src: url(./fonts/VI-MEDIUM.TTF);
}

@font-face {
  font-family: Vi_RG;
  src: url(./fonts/VI-REGULAR.TTF);
}

/* Design start */

* {
  font-family: Vi_MD;
  color: #2f2f2f;
  /* letter-spacing: 0.05rem; */
  /* font-size: 18px; */
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  margin: 40px 0;
  font-size: 20px;
}

.eachContainer {
  margin-bottom: 60px;
}

.headGroup {
  /* display: flex; */
  justify-content: space-between;
}

.sectionHead {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.sectionSubHead {
  margin-left: 8px;
}

.addTaskContainer {
  cursor: pointer;
}
